.link {
  color: white;
  text-decoration: none;
  margin: 8px 13px 0;
  font-size: 150%;
}
.link:hover {
  color: aqua;
  text-decoration: none;
}

.active {
  color: yellow;
  text-decoration: underline;
}
