.dropDown {
  position: relative;
}
.searchBox {
  padding: 0 0;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}
.content li {
  padding: 2% 4%;
  list-style: none;
  display: block;
  color: black;
}
.content li:hover {
  background-color: wheat;
}
